/* Filter Background */
.filter-bg-img {
  height: 316px;
  background-image: url(../images/shop-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.filter-bg-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-bg-img-text h1 {
  font-size: 3rem;
  color: black;
  font-weight: 500;
}

.filter-bg-img-text p {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  text-align: center;
}

.filter-bg-span {
  font-weight: 300;
}

/* Filter  */

.filter-section {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #f9f1e7;

}

.filter-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}


.results-text {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  padding-left: 1rem;
  border-left: 2px solid #898989;
}

.sort-options {
  display: flex;
  gap: 20px;
}

.show-option, .sort-by-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-option label, .sort-by-option label {
  font-size: 1.125rem;
  font-weight: 400;
}

.show-option select, .sort-by-option select {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

/* Shop product list */

.shop-product-cart-container {
  margin: 2rem 4rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-cart {
  margin-top: 2rem;
}

.shop-page-num-container {
  display: flex;
  gap: 2rem;
  margin: 2rem 35rem;
}

.page-counter {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f9f1e7;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3 ease;
}

#one {
  background-color: #b88e2f;
  color: white;
}

.page-counter:hover {
  background-color: #b88e2f;
}

.next {
  width: 98px;
  height: 60px;
  border-radius: 10px;
}

/* Service */

.service-area {
  height: 270px;
  background-color: #faf3ea;
}
.service-list-container {
  display: flex;
  justify-content: space-between;
  padding: 6rem 3rem;
}

.service-item {
  display: flex;
}

.service-item-details{
  padding: 0.5rem;
}

.service-item-details h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  color: #242424;
}

.service-item-details p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
}
